*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: auto;
}
.carousel{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;	
}
#carousel-inner{
	display: flex;
	justify-content: center;	
	width: 50%;
}
.carousel-item{
	margin-top: 5vh;
	width: 50%;
	justify-content: center;	
	align-items: center;
	text-align: center;
}
.card{
	align-items: center;
	text-align: center;
}